h2, h3, h4 {
    margin: 5px 0;
}
.main-wrap {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}
div.day {
    background: #CCC;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}
div.day i {
    margin-left: auto;
}
i.icon-circle-up {
    display: none;
}
div.day:first-of-type {
    margin-top: 0;
}
div.pub-by-day {
    display: none;
}
div.pub {
    margin-bottom: 5px;
    background: #EEE;
    padding: 0.5rem;
}
div.pub p {
    display: flex;
}
div.pub p.quickinfo {
    float: left;
    width: 33%;
}
div.pub p:not(.quickinfo) {
    clear: both;
}
div.pub p span, div.pub p a {
    display: inline-block;
    margin-left: 10px;
}
div.pub p a {
    color: #00F;
}

/* Icons */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yc1e8n');
  src:  url('fonts/icomoon.eot?yc1e8n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yc1e8n') format('truetype'),
    url('fonts/icomoon.woff?yc1e8n') format('woff'),
    url('fonts/icomoon.svg?yc1e8n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pound:before {
  content: "\e93d";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-mobile:before {
  content: "\e958";
}